html,
body {
  margin: 0;
  padding: 0;

  font-family: "Inter", Arial, Helvetica, sans-serif !important;
  background: #fff;
}

html {
  scroll-behavior: smooth;
}



/* Fade-in animation for page content */
.fade-in {
  opacity: 0;
  animation: fadeIn 0.9s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}